<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <% unless user_signed_in? %>
    <ul>
      
      <li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
    </ul>
  <% else %>
    <ul>
      <%= current_user[:name] %>
      <li><%= link_to "Logout", destroy_user_session_url, method: :delete %></li>
    </ul>
  <% end %>
  
</nav>



