<h1>Pages#home</h1>

<% if current_user %>
  <div>
    <%= current_user.name %>
    <%= image_tag(current_user.image) %>
  </div>
<% end %>

<main>
  <section>
    <p class='copy'>
      Have your content reach a bigger audience. Hashtags can extend the reach of
      your content by grouping it with sumular content sharing the same hashtags.
      Knowing how popular a hashtags is con maximize conversion by 50%.
    </p>
  </section>

  <section id='hashtag-search'>
    <div>
      <input id='search'>
      <button class='btn'>Submit</button>
    </div>
  </section>

  <section id='results'>
    <div class='box'>
    </div>
  </section>

  <script>

  </script>

</main>
