<main>
  <header>
    <h1 class='sub-logo'>#HashTaggedIt</h1>
    <% if current_user %>
      <div>
        
      </div>
    <% end %>
  </header>

  <section>
    <p class='hashtag-prompt'>
      Enter a hashtag to find it's 30 day history:
    </p>
    <div class='hashtag-query-form'>
      <%= render 'shared/form' %>
    </div>
  </section>

  <div class='results-area'>
      <table id='tag-history-table'>
        <thead>
  		      <tr>
  		      	 <th>Date</th>
  		         <th>Retweets</th>
  		         <th>Tweets</th>
  		         <th>Exposure</th>
  		      </tr>
  		   </thead>
      </table>
   </div>
   
</main>
