.sub-logo {
    width: 367px;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 3.125em;
}

.hashtag-prompt {
    font-family: 'Montserrat', sans-serif;
}

.hashtag-form {
    width: 100%;
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;
    border-style:solid;
    border:none;
    border-width:1px;
    border: 0.5px solid #efefef;
}

.hashtag-prompt {
    text-align: center;
}

input[type=text] {
    padding-left: 35px;
    font-size: 52px;
    font-family: century gothic;
    font-family: Helvetica;
    height: 105px;
    color: #1db7ff;
    background: #def4ffed;
}

.submit {
    margin: 0;
    height: 100px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
    border-radius: 5px;
    background: #3498db;
    color: #fff;
    border: none;
    font-family: Helvetica;
    font-weight: 900;
    font-size: 28px;
}

::-webkit-input-placeholder { /* Edge */
  color: #8db1c1;
}
