.logo {
    color: #f39c12;
    font-family: 'Righteous', cursive;
    font-size: 1.625em;
}

.logo:hover {
    text-decoration: none;
    color: #e74c3c;
}

.main-nav {
    margin-left: 85%;
}

main {
    width: 90%;
    margin: 0 auto;
}

.sub-logo {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 1.125em;
}

.copy {
    text-align: center;
}

input {
    width: 100%;
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;
    border-style:solid;
    border:none;
    border-width:1px;
    border:1px solid #cccccc;
}

.submit {
    margin: 0;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    background: #3498db;
    color: #fff;
    border: none;
}

.avatar {
    width: 25px;
    height: auto;

    position: relative;
    top: 4px;
}