* {
    outline:0;
}

p {
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 90%;
    margin: 0 auto;
}

header {
  margin-top: 80px !important;
  margin-bottom: 57px !important;
}

.avatar {
    width: 25px;
    height: auto;
    position: relative;
    top: 4px;
}

.user-info-box {
    border: 1px solid lightgrey;
    height: 70px;
    margin-bottom: 20px;
}

.sign-up-box {
    margin: 0 auto;
    width: 30%;
}

#new_user {
    margin: 0 auto;
    text-align: center;
}
