#summary {
    display: none;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    background: #efb700;
    color: #fff;
}

.information {
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}